.example-viewport {
    background-color: rgb(249, 249, 249);
    margin: 1% 1% 1% 1%;
    height: 100%;
    /* width: 20%; */
    border: 1px solid green;
    border-radius: 1%;
}

.example-item {
    height: 150px;
}

.title {
    background-color: white;
}

mat-card {
    background-color: rgb(249, 249, 249);
    text-align: center;
}

.cplayer:hover {
    filter: brightness(85%);
}

.playerDetails {
    background-color: rgb(249, 249, 249);
}